/armstrongno.class
/ascii.class
/bitwise.class
/cubic.class
/derivative.class
/diamond.class
/diamond1.class
/differentiation.class
/divisible7.class
/factorial.class
/fibonacci.class
/integration.class
/pallindrome.class
/pattern.class
/pattern2.class
/pattern3.class
/prime.class
/quadratic.class
/roots.class
/sswitch.class
/sumevenodd.class
/ternary.class
/tri.class
/triangle.class
/triangle01.class
/triangle02.class
/triangle1.class
/triangle2.class
/triangle3.class
/triangle4.class
/triangle5.class
